<!-- TODO: Move to controller/model? -->
<!-- FAKE DATA! -->
@{
    string[] members = { "Kevin Cushing", "Maggie Dong", "Andrew Croneberger", "Scott Moser", "Andrew Wallace", "Steve Chester" };
    string[] time_in = { "8:00AM", "7:53AM", "8:31AM", "8:10AM", "-----", "TBD" };
    string[] time_out = { "2:45PM", "3:00PM", "2:47PM", "1:00PM", "-----", "TBD" };
    string[] status = { "Present", "Present", "Tardy", "Present", "Absent", "TBD" };
    string[] isArchived = { "Yes", "Yes", "Yes", "Yes", "Yes", "No" };
    int len = members.Length;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Display page title -->
    <h2 align="center">Admin Home</h2>

    <!-- Create two buttons under title -->
    <div style="text-align: center;">
        @Html.ActionLink("Class Data Report", "ViewClassReport", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Upload Calendar", "Calendar", null, new { @class = "btn btn-primary" })
    </div>

    <!--
        Generate the student attendance table for the page. This part is a bit tricky and may
        need modification over time. Trying to keep display-only logic in this file and push
        back all student/database logic to the controller/model layers.
    -->
    <div class="container">
        <h3>Daily Class Report</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @{
                    <!--
                        Fill in the table row-by-row using student data. Keep this dynamic so we don't
                        need to update every time a new student gets added or archived.
                    -->
                    for (var i = 0; i < len; ++i)
                    {
                        <tr>
                            <!-- TODO: Link to specific student page? -->
                            <td>@Html.ActionLink(members[i], "ViewStudentReport", null, new { @class = "text" })</td>

                            <!-- Check is student is archived. If so, don't try to display data for student. -->
                            @if (@isArchived[i] == "Yes")
                            {
                                <td>@time_in[i]</td>
                                <td>@time_out[i]</td>
                                <td>
                                    @if (@status[i] == "Present")
                                    {
                                        <img src="~/Content/icons/greenCircle.png" alt="Present :)" height="30" width="30">
                                    }
                                    else if (@status[i] == "Tardy")
                                    {
                                        <img src="~/Content/icons/yellowCircle.png" alt="Tardy -__-" height="30" width="30">
                                    }
                                    else
                                    {
                                        <img src="~/Content/icons/redCircle.png" alt="Absent :(" height="30" width="30">
                                    }
                                </td>
                            }
                            else
                            {
                                <!-- Student is archived so display blank columns. -->
                                <td></td>
                                <td></td>
                                <td></td>
                            }
                            <td>
                                <a href="#">
                                    <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit Student"></span>
                                </a>
                                <a href="#">
                                    <!-- TODO: What to show for unarchiving a student? -->
                                    <span class="glyphicon glyphicon-inbox" data-toggle="tooltip" title="Archive Student"></span>
                                </a>
                            </td>
                        </tr>
                    }
                }

                <!-- Add final row with button to add a student -->
                <tr>
                    <td>
                        <a href="#" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span> Add Student
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>

<!-- TODO: Move to appropriate script file? Is this necessary? -->
<!-- JQuery for tooltips -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>