<!-- TODO: Move to controller/model? -->
<!-- FAKE DATA! -->
@{
    string[] members = { "Kevin Cushing", "Maggie Dong", "Andrew Croneberger", "Scott Moser", "Andrew Wallace", "Steve Chester" };
    string[] time_in = { "8:00AM", "7:53AM", "8:31AM", "8:10AM", "-----", "TBD" };
    string[] time_out = { "2:45PM", "3:00PM", "2:47PM", "1:00PM", "-----", "TBD" };
    string[] status = { "Present", "Present", "Tardy", "Present", "Absent", "TBD" };
    string[] isActive = { "Yes", "Yes", "Yes", "Yes", "Yes", "No" };
    string[] isEdit = { "No", "No", "No", "Yes", "No", "No" };
    int len = members.Length;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <!-- Display page title -->
    <h2 align="center">Admin Home</h2>

    <!-- Create two buttons under title -->
    <div style="text-align: center;">
        @Html.ActionLink("Class Data Report", "ViewClassReport", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Upload Calendar", "Calendar", null, new { @class = "btn btn-primary" })
    </div>

    <!--
        Generate the student attendance table for the page. This part is a bit tricky and may
        need modification over time. Trying to keep display-only logic in this file and push
        back all student/database logic to the controller/model layers.
    -->
    <div class="container">
        <h3>Daily Class Report</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @{
                    <!--
                        Fill in the table row-by-row using student data. Keep this dynamic so we don't
                        need to update every time a new student gets added or archived.
                    -->
                    for (var i = 0; i < len; ++i)
                    {
                        <tr>
                            <!-- TODO: Link to specific student page? -->
                            <td>@Html.ActionLink(members[i], "ViewStudentReport", null, new { @class = "text" })</td>

                            <!-- Check is student is archived. If so, don't try to display data for student. -->
                            @if (@isActive[i] == "Yes")
                            {
                                <!-- Prototype logic for editing a student. Should probably do in another view? What's best way to handle this? -->
                                if (@isEdit[i] == "No")
                                {
                                    <td>@time_in[i]</td>
                                    <td>@time_out[i]</td>
                                }
                                else
                                {
                                    <td>
                                        <!-- TODO: Write function to do this to minute-level increments or create an enum! -->
                                        @Html.DropDownList("TimeIn", new List<SelectListItem>
                                        {
                                            new SelectListItem{Text="7:00AM",Value="0" },
                                            new SelectListItem{Text="7:15AM",Value="1" },
                                            new SelectListItem{Text="7:30AM",Value="2" },
                                            new SelectListItem{Text="7:45AM",Value="3" },
                                            new SelectListItem{Text="8:00AM",Value="4" },
                                            new SelectListItem{Text="8:15AM",Value="5" },
                                            new SelectListItem{Text="8:30AM",Value="6" },
                                            new SelectListItem{Text="8:45AM",Value="7" },
                                            new SelectListItem{Text="9:00AM",Value="8" },
                                        })
                                    </td>
                                    <td>
                                        <!-- TODO: Write function to do this to minute-level increments or create an enum! -->
                                        @Html.DropDownList("TimeOut", new List<SelectListItem>
                                        {
                                            new SelectListItem{Text="12:00PM",Value="0" },
                                            new SelectListItem{Text="12:15PM",Value="1" },
                                            new SelectListItem{Text="12:30PM",Value="2" },
                                            new SelectListItem{Text="1:45PM",Value="3" },
                                            new SelectListItem{Text="1:00PM",Value="4" },
                                            new SelectListItem{Text="1:15PM",Value="5" },
                                            new SelectListItem{Text="2:30PM",Value="6" },
                                            new SelectListItem{Text="3:45PM",Value="7" },
                                            new SelectListItem{Text="3:00PM",Value="8" },
                                        })
                                    </td>
                                }
                                <td>
                                    @if (@status[i] == "Present")
                                    {
                                        <img src="~/Content/icons/greenCircle.png" alt="Present :)" height="30" width="30">
                                    }
                                    else if (@status[i] == "Tardy")
                                    {
                                        <img src="~/Content/icons/yellowCircle.png" alt="Tardy -__-" height="30" width="30">
                                    }
                                    else
                                    {
                                        <img src="~/Content/icons/redCircle.png" alt="Absent :(" height="30" width="30">
                                    }
                                </td>
                            }
                            else
                            {
                                <!-- Student is archived so display blank columns. -->
                                <td></td>
                                <td></td>
                                <td>Archived</td>
                            }
                            <td>
                                <!-- Handle icons differently based on student edit status -->
                                @if (@isEdit[i] == "No")
                                {
                                    <a href="#">
                                        <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit Record"></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="#">
                                        <span class="glyphicon glyphicon-floppy-disk" data-toggle="tooltip" title="Save Changes"></span>
                                    </a>
                                }

                                <!-- Handle icons differently based on student active status -->
                                @if (@isActive[i] == "Yes")
                                {
                                    <a href="#">
                                        <span class="glyphicon glyphicon-inbox" data-toggle="tooltip" title="Archive Student"></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="#">
                                        <span class="glyphicon glyphicon-share-alt" data-toggle="tooltip" title="Restore Student"></span>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                }

                <!-- Add final row with button to add a student -->
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddStudentModal">
                            <span class="glyphicon glyphicon-plus"></span> Add Student
                        </button>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Add Student Modal -->
    <div class="modal fade" id="AddStudentModal" tabindex="-1" role="dialog" aria-labelledby="AddStudentModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddStudentModalHeader">Add Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon">Student Name</span>
                        <input type="text" class="form-control" aria-label="Student First and Last Name">
                    </div>
                </div>
                <!-- TBD: Insert if needed...
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-addon">Student ID#</span>
                            <input type="text" class="form-control" aria-label="Student ID">
                        </div>
                    </div>
                -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!-- TODO: Move to appropriate script file? Is this necessary? -->
<!-- jQuery for tooltips - this gives the tooltips a fancier appearance. -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
