@model _5051.Models.StudentModel

<!--need to fix the image spacing -->

<div id="choose-avatar-container" class="attendify-panel">
    <h1 class="attendify-panel-title">Choose Your Avatar</h1>
    <div class="panel panel-default">
        <div class="container">
            @foreach (var avatar in @Model.avatarUri)
            {
            <img src="~/Content/images/@avatar" avID="@avatar" class="icons" width="75" height="75" alt="No not found image! :(" />
            }
        </div>
    </div>
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id, new {Value = @Model.Id})
    @Html.HiddenFor(m => m.Name, new {Value = @Model.Name})
    @Html.HiddenFor(m => m.AvatarId, new { @id = "avatarID" })
    @Html.HiddenFor(m => m.IsActive, new {Value = @Model.IsActive})
    @Html.HiddenFor(m => m.IsEdit, new {Value = @Model.IsEdit})
    @Html.HiddenFor(m => m.LoginStatus, new {Value = @Model.LoginStatus})
    @Html.HiddenFor(m => m.DailyStatus, new {Value = @Model.DailyStatus})
    @Html.HiddenFor(m => m.TimeIn, new {Value = @Model.TimeIn})
    @Html.HiddenFor(m => m.TimeOut, new {Value = @Model.TimeOut})

    
    
    @Html.ActionLink("Cancel", "Report", null, new { @class = "text-center btn btn-primary" })
    <input type="submit" value="Create" class="text-center btn btn-primary">
    
    
    }
</div>

<script>
    window.onload = function () {
        var toggle = "checked-out";
        var icons = document.getElementsByClassName("icons");
        var selection = false;
        if (icons) {
            for (var i = 0; i < icons.length; i++) {
                icons[i].onclick = function () {
                    document.getElementById("avatarID").value = this.getAttribute("avID");
                    this.classList.add(toggle);
                    if(selection) selection.classList.remove(toggle);
                    selection = this;
                }
            }
        }
    }
</script>
