@model _5051.Models.StudentModel

<div id="kiosk-container" class="attendify-panel">
    <h1 id="kiosk-title" class="attendify-panel-title">Choose Avatar</h1>
    <br />
    <div class="container">
        @foreach (var avatar in @Model.avatarUri)
        {
            <div class="kiosk-avatar col-sm-2 icons">
                <!-- Change avatar opacity based on student login status -->
                <img src="~/Content/images/@avatar" avID="@avatar" class="iconPic" width="75" height="75" alt="No not found image! :(" />
            </div>
        }
    </div>
    
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id, new {Value = @Model.Id})
    @Html.HiddenFor(m => m.Name, new {Value = @Model.Name})
    @Html.HiddenFor(m => m.Username, new {Value = @Model.Username})
    @Html.HiddenFor(m => m.AvatarId, new { @id = "avatarID" })
    @Html.HiddenFor(m => m.IsActive, new {Value = @Model.IsActive})
    @Html.HiddenFor(m => m.IsEdit, new {Value = @Model.IsEdit})
    @Html.HiddenFor(m => m.LoginStatus, new {Value = @Model.LoginStatus})
    @Html.HiddenFor(m => m.DailyStatus, new {Value = @Model.DailyStatus})
    @Html.HiddenFor(m => m.TimeIn, new {Value = @Model.TimeIn})
    @Html.HiddenFor(m => m.TimeOut, new {Value = @Model.TimeOut})

    <input type="submit" value="Change Avatar" class="text-center btn btn-primary">
    }
</div>

<script>
    window.onload = function () {
        var toggle = "checked-out";
        var icons = document.getElementsByClassName("iconPic");
        var selection = false;
        if (icons) {
            for (var i = 0; i < icons.length; i++) {
                icons[i].onclick = function () {
                    document.getElementById("avatarID").value = this.getAttribute("avID");
                    this.classList.add(toggle);
                    if(selection) selection.classList.remove(toggle);
                    selection = this;
                }
            }
        }
    }
</script>
