@model _5051.Models.StudentModel

@{

}





<!--jumbotron here-->

<div class="container">
    <div class="jumbotron" style="text-align: center">
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/images/cactus.jpg" class="img-responsive img-rounded" style="width:200px; height:200px" />
                <p style="text-align:center">@Model.Username</p>
                @Html.ActionLink("Choose Avatar", "ChooseAvatar", null, new { @class = "btn btn-success" })
            </div>
            <div class="col-md-9">
                <h2>Welcome @Model.Name</h2>
                <p>Friday, May 25 2018 </p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" style="text-align:center">
    <div class="panel-heading text-center">Current Achievements</div>
    <div class="container">
        <div class="row">
            <div class="col-md-1 nopadding">
                <div class="thumbnail ">
                    <img src="~/Content/images/cactus.jpg">
                    <div class="caption">
                        <h5>Ach1</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-1 nopadding">
                <div class="thumbnail">
                    <img src="~/Content/images/cactus.jpg" style="width: 75px; height:75px">
                    <div class="caption">
                        <h5>Ach2</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-1 nopadding">
                <div class="thumbnail">
                    <img src="~/Content/images/cactus.jpg" style="width: 75px; height:75px">
                    <div class="caption">
                        <h5>Ach3</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-1 nopadding">
                <div class="thumbnail">
                    <img src="~/Content/images/cactus.jpg" style="width: 75px; height:75px">
                    <div class="caption">
                        <h5>Ach4</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 nopadding">
                <div class="thumbnail">
                    <img src="~/Content/images/cactus.jpg" class="img-rounded" style="width: 75px; height:75px">
                    <div class="caption">
                        <h5>Ach5</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-1 nopadding">
                <div class="thumbnail">
                    <img src="~/Content/images/cactus.jpg" style="width: 75px; height:75px; opacity:.5">
                    <div class="caption">
                        <h5>Ach6</h5>
                        <p>+150 XP<br>Attend 1 more day<br />to unlock!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.ActionLink("All Achievements", "Achievements", null, new { @class = "btn btn-success" })
<div>
    <div class="studentheader3">
        Level <span class="darkBlue">3 </span>Attender
    </div>
</div>
<div>
    <h4 style="text-align:center">Progress to Next Level:</h4>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="reportColMd2" style="text-align: right">
            <span class="show">XP</span>
        </div>
        <div class="col-md-8" style="padding:0px 0px">
            <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                    <span class="show" style="text-align: right; padding-right: 10px">75%</span>
                </div>
            </div>
        </div>
        <div class="col-md-1 nopadding" style="text-align: left">
            <span class="show">270/360</span>
        </div>

    </div>

</div>


<h2 class="sub-header">This Week's Attendance</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="color:red;"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></td>
                <td style="color:green;">&#10004</td>
                <td style="color:green;">&#10004</td>
                <td style="color:green;">&#10004</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Attendance History", "StudentHistory", null, new { @class = "btn btn-success" })
</div>