@model _5051.Models.StudentModel

<!--jumbotron here-->

<div class="container">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/images/person11.png" class="img-responsive"  />
                <p class="text-center">@Model.Username</p>
                @Html.ActionLink("Choose Avatar", "ChooseAvatar", null, new { @class = "btn btn-primary" })
            </div>
            <div class="col-md-9">
                <h2>Welcome @Model.Name</h2>
                <p>Friday, May 25 2018 </p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading text-center">Current Achievements</div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-2 nopadding">
                <img src="~/Content/images/level 1_resized.png" class="badge-medium">
                <div class="caption bold-caption">Level 1</div>
            </div>
            <div class="col-md-2 nopadding">
                <img src="~/Content/images/level 2_resized.png" class="badge-medium">
                <div class="caption bold-caption">Level 2</div>
            </div>
            <div class="col-md-2 nopadding">
                <img src="~/Content/images/level 3_resized.png" class="badge-medium">
                <div class="caption bold-caption">Level 3</div>
            </div>
            <div class="col-md-2 nopadding">
                <div class="badge-locked">
                    <img src="~/Content/images/level 4_resized.png" class="badge-medium">
                    <div class="caption bold-caption">Level 4</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 nopadding">
                <img src="~/Content/images/25 hours_resized.png" class="badge-medium">
                <div class="caption bold-caption">25 Hours!</div>
            </div>
            <div class="col-md-2 nopadding">
                <img src="~/Content/images/50 hours_resized.png" class="badge-medium">
                <div class="caption bold-caption">50 Hours!</div>
            </div>
            <div class="col-md-2 nopadding">
                <img src="~/Content/images/100 hours_resized.png" class="badge-medium">
                <div class="caption bold-caption">100 Hours!</div>
            </div>
            <div class="col-md-2 nopadding">
                <img src="~/Content/images/200 hours_resized.png" class="badge-medium">
                <div class="caption bold-caption">200 Hours!</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 nopadding">
                <img src="~/Content/images/2 day streak_resized.png" class="badge-medium">
                <div class="caption bold-caption">2 Day Streak!</div>
            </div>
            <div class="col-md-2 nopadding">
                <img src="~/Content/images/3 day streak_resized.png" class="badge-medium">
                <div class="caption bold-caption">3 Day Streak!</div>
            </div>
        </div>
    </div>  
</div>

@Html.ActionLink("All Achievements", "Achievements", null, new { @class = "btn btn-primary" })
<div>
    <div class="studentheader3">
        Level <span class="darkBlue">3 </span>Attender
    </div>
</div>
<div>
    <h4 class="text-center">Progress to Next Level:</h4>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <span class="show text-right">XP</span>
        </div>
        <div class="col-md-8">
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <span class="show">75%</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 text-left">
            <span class="show">270/360</span>
        </div>

    </div>

</div>


<h2 class="sub-header">This Week's Attendance</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Monday</th>
                <th class="text-center">Tuesday</th>
                <th class="text-center">Wednesday</th>
                <th class="text-center">Thursday</th>
                <th class="text-center">Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="red-x"><span class="glyphicon glyphicon-remove"></span></td>
                <td class="green-check"><span class="glyphicon glyphicon-ok"></span></td>
                <td class="green-check"><span class="glyphicon glyphicon-ok"></span></td>
                <td class="green-check"><span class="glyphicon glyphicon-ok"></span></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Attendance History", "StudentHistory/"+Model.Id, null, new { @class = "btn btn-primary" })
</div>