@model _5051.Models.StudentModel
<div class="student-report-container">
    <div class="container report-header">
        <div class="row nopadding">
            <span class="student-font-medium">Tuesday, June 5, 2018 </span>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/images/@Model.AvatarId" class="avatar-student-profile" />
                <div class="top-margin-adjust">
                    <span class="text-center student-font-medium">@Model.Username</span>
                </div>
                
                
               
            </div>
            <div class="col-md-6">
                <h2>Welcome, @Model.Name!</h2>
                <div class="studentheader3">
                    You've Earned <span class="darkBlue">65 </span>XP Today<br />
                </div>
                <div class="student-font-medium">
                    Congrats! <span class="darkBlue"> 3 Day Streak</span>
                    Achievement Earned! <br />
                    <span class="darkBlue">50</span> Bonus XP Awarded <br />
                    <br />
                    <span class="darkBlue">15</span> Daily XP + <span class="darkBlue">50</span> Bonus XP</span> = <span class="darkBlue">65</span>
                     XP
                </div>

            </div>
            <div class="col-md-3 top-margin-adjust">
                <div class="badge-top">
                    <img src="~/Content/images/no-title_lvl3.png" class="badge-medium">
                    <div>
                        <span class="student-font-medium">Level</span>
                        <span class="student-font-darkBlue">3 </span>
                        <span class="student-font-medium">Attender</span>
                    </div>
                   

                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.ActionLink("Choose Avatar", "ChooseAvatar", null, new { @class = "btn btn-primary" })
            </div>
            <div class="col-md-6">
                @Html.ActionLink("All Achievements", "Achievements", null, new { @class = "btn btn-primary" })

            </div>
            <div class="col-md-3">
                @Html.ActionLink("Attendance History", "StudentHistory/" + Model.Id, null, new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="row student-font student-font-medium">
            <span></span>
             </div>
        <div class="row row-top-extended">
            <div class="report-experience-panel">
                <h4 class="student-font-medium">Progress to Next Level:</h4>
                <div class="row">
                    <div class="col-md-2">
                        <span class="text-center">Experience</span>
                    </div>
                    <div class="col-md-8">
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <span class="show">75%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="text-center">270/360</span>
                    </div>
                </div>
            </div>


        </div>


    </div>

    <div class="badge-panel-container text-center">
        <span class="report-header-white text-center">Achievements</span>
        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="badge-report-padding badge-white-bg-rounded">
                        <img src="~/Content/images/no-title_lvl1.png" class="badge-medium">
                        <div class="caption bold-caption">Level 1</div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="badge-report-padding badge-white-bg-rounded">
                        <img src="~/Content/images/no-title_lvl2.png" class="badge-medium">
                        <div class="caption bold-caption">Level 2</div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="badge-report-padding badge-white-bg-rounded">
                        <img src="~/Content/images/no-title_lvl3.png" class="badge-medium">
                        <div class="caption bold-caption">Level 3</div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="badge-report-padding badge-white-bg-rounded badge-locked">
                        <img src="~/Content/images/no-title_lvl4.png" class="badge-medium">
                        <div class="caption bold-caption">Almost There!</div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-3 ">
                    <div class="badge-report-padding badge-white-bg-rounded">
                        <img src="~/Content/images/no-title_25hrs.png" class="badge-medium">
                        <div class="caption bold-caption">25 Hours!</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="badge-report-padding badge-white-bg-rounded">
                        <img src="~/Content/images/no-title_50hrs.png" class="badge-medium">
                        <div class="caption bold-caption">50 Hours!</div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="badge-report-padding badge-white-bg-rounded">
                        <img src="~/Content/images/no-title_100hrs.png" class="badge-medium">
                        <div class="caption bold-caption">100 Hours!</div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="badge-report-padding badge-white-bg-rounded">
                        <img src="~/Content/images/no-title_200hrs.png" class="badge-medium">
                        <div class="caption bold-caption">200 Hours!</div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 ">
                    <div class="badge-report-padding badge-white-bg-rounded">
                        <img src="~/Content/images/no-title_2daystreak.png" class="badge-medium">
                        <div class="caption bold-caption">2 Day Streak!</div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="badge-report-padding badge-white-bg-rounded">
                        <img src="~/Content/images/no-title_3daystreak.png" class="badge-medium">
                        <div class="caption bold-caption">NEW- 3 Day Streak!</div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="badge-report-padding badge-white-bg-rounded badge-locked">
                        <img src="~/Content/images/no-title_5daystreak.png" class="badge-medium">
                        <div class="caption bold-caption">2 More Days!</div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="badge-report-padding badge-white-bg-rounded badge-locked">
                        <img src="~/Content/images/locked_resized.png" class="badge-medium">
                        <div class="caption bold-caption">????</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="report-header-white text-center">This Week's Attendance</h2>

    <div class="panel report-attendance-panel">
        <table class="table borderless">
            <thead>
                <tr>
                    <th class="report-attendance-text">Monday</th>
                    <th class="report-attendance-text">Tuesday</th>
                    <th class="report-attendance-text">Wednesday</th>
                    <th class="report-attendance-text">Thursday</th>
                    <th class="report-attendance-text">Friday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><img class="red-x" src="~/Content/images/x.png" title="Absent"></td>
                    <td class="text-center"><img class="blue-check" src="~/Content/images/check.png" title="Present"></td>
                    <td class="text-center"><img class="blue-check" src="~/Content/images/check.png" title="Present"></td>
                    <td class="text-center"><img class="blue-check" src="~/Content/images/check.png" title="Present"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

   

</div>