@using _5051.Models
@model CredentialsViewModel

<div id="login-page" class="row">
    <div id="lgn-form-container" class="col-md-12 full-width">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <h4 id="form-title">Sign In</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @id = "username", @placeholder = "Username" })
                    <!--@Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })-->
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 full-width">
                    <input id="login-btn" type="submit" value="Login" class="btn btn-primary" />
                </div>
            </div>
            @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}