@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Kiosk Check In / Out";
}

<div id="kiosk-container">
    <h1 id="kiosk-title" class="text-center">Kiosk Check In / Out</h1>

    <br />
    <div class="container">
        @foreach (var student in Model.StudentList)
        {
            if (student.IsActive == true)
            {
                <a id="@student.Username" href="~/Kiosk/Update/@student.Id">
                    <div class="kiosk-avatar col-sm-2 icons">
                        @if (@student.LoginStatus == @_5051.Models.StudentLoginStatusEnum.In)
                        {
                            <span>@student.Username</span>
                        }
                        else
                        {
                            <span class="checked-in">@student.Username</span>
                        }
                        <br />
                        <!-- Change avatar opacity based on student login status -->
                        @if (@student.LoginStatus == @_5051.Models.StudentLoginStatusEnum.In)
                        {
                            <img src="~/Content/images/@student.AvatarId" width="75" height="75" alt="No not found image! :(" />
                        }
                        else
                        {
                            <img src="~/Content/images/@student.AvatarId" width="75" height="75" alt="No not found image! :("class="checked-in" />
                        }
                    </div>
                </a>
            }
        }
    </div>
</div>