
@{
    ViewBag.Title = "Index";
}

<!-- TODO: Add real functionality to this page... -->
<br />
<p>
    @Html.ActionLink("Start Kiosk login", "startLogin", null, new { @class = "btn btn-success" })
</p>

<p>
    <img src="~/Content/images/avatar4.png" width="75" height="75" />
    @Html.ActionLink("Check-in", "checkIn", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Check-out", "checkOut", null, new { @class = "btn btn-success" })
</p>

<p>
    <img src="~/Content/images/avatar5.png" width="75" height="75" />
    @Html.ActionLink("Check-in", "checkIn", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Check-out", "checkOut", null, new { @class = "btn btn-success" })
</p>

<p>
    <img src="~/Content/images/avatar6.png" width="75" height="75" />
    @Html.ActionLink("Check-in", "checkIn", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Check-out", "checkOut", null, new { @class = "btn btn-success" })
</p>

<img src="~/Content/images/Student Sign In.png" width="960" height="540" />


