<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Attendify</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <!-- Add browser tab favicon for cool factor -->
    <link rel="icon" type="image/png" href="~/Content/favicons/favicon-16x16.png" sizes="16x16" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <!-- DEFERRED: This might need adjustment for mobile devices -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Far left product name in navbar -->
                @Html.ActionLink("Attendify", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--
                        Links to internal pages. For prototype/demo, leave unrestricted. For production, check
                        login status prior to routing student to the requested page.
                    -->
                    <li>@Html.ActionLink("Student", "Report", "RemoteStudent")</li>
                    <li>@Html.ActionLink("Admin", "Options", "AdminPanel")</li>
                    <li>@Html.ActionLink("Kiosk", "Index", "Kiosk")</li>
                    <li>@Html.ActionLink("Login", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Copyright &copy; @DateTime.Now.Year - Attendify Enterprise Edition</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<!-- Attempt #1 at overriding bootstrap CSS. Should this be moved to a CSS file? -->
<style>
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar .navbar-brand {
        text-align: center;
        color: white;
        font-style: italic;
    }
</style>
